/* Web Unicorn Corp/Free of use/belive in unicorns*/

/*Juliatesting*/

.donatenow a {
  float:right;
}
.h1 {
  width: 20em;
  margin-top: 2%;
  left: 2%;
}
.h2 {
  font-size: 3em;
  text-align: center;
  margin-top: 4em;
  font-family: 'Istok Web', sans-serif;
}

.bus img {
 display: none;
    position: fixed;
    left: 38%; bottom: 10%;
    width: 6em; height: 12em;
    border-top: 1px solid #000;
    
    z-index: 1;
  }




.button1 {
    background-color: lightcoral;
    transition: all 0,4s;
    outline: none;
    border-radius: 100px;
    border:none;
    width: 70%;
    color:black;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    height: 3em;


  
}

.button1:hover {
    opacity: 0.7;

}


.container {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;

}

.backgroundvideo {
  height: 1004px;
  z-index: -5;

}

.characterpicture {
 
  background-color:rgba(60,3,3,0.12);
  height: 1004px;
}



.illustration1 {
background-image: url("../img/road.png");
background-position: center;
background-repeat: no-repeat;
height: 1004px;

}

.illustration2 {
background-image: url("../img/road.png");
background-position: center;
background-repeat: no-repeat;
height: 1004px;


}

.gothenburgpicture {
background-image: url("../img/goth.jpg");
background-position: center;
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
height: 660px;
}

.donationinfo {
	background-color: white;
	background-position: center;
background-repeat: no-repeat;
height: 1004px;
z-index: 2;

}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    background-size: cover;
}
.container h1, h2 {
    color: white;
}



/* Vilken header font? */
h1,h2,h3,h4,h5,h6 {
 font-family: 'PT Sans Caption', sans-serif;
   
}

/* vilken font family på vanlig text */
p {
  font-family: 'Istok Web', sans-serif;

}

ol li {
  margin-top: 2%;
  font-family: 'Istok Web', sans-serif;
}



.container40 {
  margin-top: 1%;
  width: 40%;
  float: left;
  margin-left: 5%;
}
.container40b {
  margin-top: 1%;
  border: solid 1px black;
  width: 40%;
  float: left;
  margin-left: 5%;
  text-align: center;
}
.container40b img {

 margin-left: 20%;
 margin-right: 20%;
  width: 60%;
  
 
}

@media screen and (max-width: 700px) {



.illustration1 {
background-image: url("../img/road.png");
background-position: center;
background-repeat: no-repeat;
height: 1004px;
background-size: cover;

}

.illustration2 {
background-image: url("../img/road.png");
background-position: center;
background-repeat: no-repeat;
height: 1004px;
background-size: cover;
}

.bus img {
 position:fixed;
    width:4em;
    height:10em;
    
    left:24%;
    top:30%;
}

.container40 {
  width: 80%;
  
  margin-left: 5%;
}
.container40b {
  margin-top: 1%;
  border: solid 1px black;
  width: 80%;
  
  margin-left: 5%;
}

}










